/** Responsive CSS**/

@media (max-width: 768px) {

	.myResponsive p{
		margin-bottom: 5px;
    	font-size: 15px ; 
    	line-height: 1.4;
	}
	.myResponsive strong p{
		margin-bottom: 5px;
    	font-size: 15px ; 
    	line-height: 1.4;
    	margin-top:30px;
	}


	.myResponsive h1 {
		font-size: 25px;
	}


}
@media (min-width: 768px){

	.myResponsive p{
		margin-bottom: 10px;
    	font-size: 25px; 
    	line-height: 2;
	}

	.myResponsive h1 {
		font-size: 40px;
	}


}