<div class="container myResponsive">
	<p><h1>Newroz Self Care Portal Login</h1></p>
	<div class="jumbotron span3">
	    	<p><label>UserName</label></p>
		    <p><input type="text" class="span3" id="UserName" placeholder="Type User Name Here"/></p>
		    <p><label>Password&nbsp;</label></p>
		    <p><input type="password" class="span3" id="Password" placeholder="Type Password"/><br/></p>
		    <button class="btn btn-primary" id='login'>Log in</button>
		    <button class="btn" id='reset'>Reset</button>
	</div>
</div>