<div class="jumbotron span3 myResponsive">
	<div class="row">
		<div class="span12">
			<span><strong><p>Rating Plan</p></strong></span>
		</div>
	</div>

	<div><p>Select an account to consult and modify and Rating Plan</p></div>
	<div><strong><p>Accounts</p></strong></div>

	<div class="table-responsive">
		<table class="table table-striped table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th>Id</th>
					<th>Card No.</th>
					<th>Profile</th>
					<th>Life Cycle</th>
					<th>End Activity</th>
					<th>End Inactivity</th>
					<th>Balance</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td><a href="#">f0425</a></td>
					<td>12345</td>
					<td>Postpaid</td>
					<td><a> <img src="/static/img/colour_green_button.png" style="">
							<!-- <div class="logo_img">  -->
					</a> Active</td>
					<td>25/07/2011</td>
					<td>25/07/2012</td>
					<td>1536</td>
				</tr>
				<tr>
					<td><a href="#">f0425</a></td>
					<td>12345</td>
					<td>Postpaid</td>
					<td><a> <img src="/static/img/orange-button.gif" style="">
							<!-- <div class="logo_img">  -->
					</a>Inactive</td>
					<td>25/07/2011</td>
					<td>25/07/2012</td>
					<td>1536</td>
				</tr>
				<tr>
					<td><a href="#">f0425</a></td>
					<td>12345</td>
					<td>Postpaid</td>
					<td><a> <img src="/static/img/red_button.gif" style=""> <!-- <div class="logo_img">  -->
					</a>Deactivated</td>
					<td>25/07/2011</td>
					<td>25/07/2012</td>
					<td>1536</td>
				</tr>
				<tr>
					<td><a href="#">f0425</a></td>
					<td>12345</td>
					<td>Postpaid</td>
					<td><a> <img src="/static/img/colour_green_button.png" style="">
							<!-- <div class="logo_img">  -->
					</a> Active</td>
					<td>25/07/2011</td>
					<td>25/07/2012</td>
					<td>1536</td>
				</tr>
			</tbody>
		</table>
	</div>




	<div>
		<div>
			<span class="colorn_text"><strong><p>Rating Plan for account f06425</p></strong></span>

		</div>
		<div class="alignment_text">
			<div class="paddingw_data">
				<span><p>Current Rating Plan:RAT_IDX_PROF_4<p></span>
			</div>
			<div class="fontn_text"><p>Select the Rating Plan You want to
				Apply</p></div>
			<div class="log_text table_text" style="margin-top: 12px;"><p>Rating Plan</p></div>




			<div class="table-responsive">
				<table class="table table-striped table-hover table-bordered table-condensed">
					<thead>
						<tr>
							<th>Rating Plan Description</th>
							<th>Rating Plan Index</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<form action="">
									<div class="radio">
  										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios1" value="option2" />  RAT_IDX_PROF_1
										</label>
									</div>
								</form>
							</td>
							<td>1</td>
						</tr>
						<tr>
							<td>
								<form action="">
									<div class="radio">
  										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios1" value="option2" /> RAT_IDX_PROF_2
										</label>
									</div>
								</form>
							</td>
							<td>2</td>
						</tr>
						<tr>
							<td>
								<form action="">
									<div class="radio">
  										<label>
											<input type="radio" name="optionsRadios" id="optionsRadios1" value="option2" /> RAT_IDX_PROF_3
										</label>
									</div>
								</form>
							</td>
							<td>3</td>
						</tr>

					</tbody>
				</table>
			</div>

			<div>
				<button class="btn btn-primary">Apply</button>
			</div>

		</div>
	</div>
</div>