 <link rel="stylesheet" type="text/css" href="/static/css/carousel/carousel.css"/>

<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container pull-left">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">NEWROZ</a>
        </div>
      </div><!-- /.container -->
    </div><!-- /.navbar -->


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Company Overview</h1>
              <p>Allai Newroz Telecom is a private company, founded in 2007 in Erbil city; in the heart of the Kurdistan Area. The company became one of the first companies in the Kurdistan region to provide voice and data, telecom services. </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Our Mission</h1>
              <p>Allai Newroz Telecom has a solid mission to be the most efficient and innovative provider in Kurdistan, and strengthen the growth of its leading position among the integrated service providers in the area, as well as to guarantee the enhancement of long-term shareholder value. - See more at: http://www.newroztelecom.com/en/about-allai-newroz/company-overview/#sthash.NevkjqNI.dpuf</p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Call Center</h1>
              <p>Our professional customer service center is always ready to serve you around the clock...Whenever you need us, you will hear our voice ready to help... - See more at: http://www.newroztelecom.com/en/contact-us/call-center/#sthash.rewwm4Wo.dpuf</p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->