<!Doctype html>
<HTML>
	<Head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <script>
	    function loadCss(url, id) {
    		var link = document.createElement("link");
    		link.type = "text/css";
    		link.rel = "stylesheet";
    		link.href = url;
    		link.id   = id;
    		document.getElementsByTagName("head")[0].appendChild(link);
		}
		</script>
		<style>
		.Loading{ 
			background-image:url('/static/img/ajax-loader.gif');
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-position:center; 
		}
		</style>
	    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
	   <title>NewRoz</title>
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->
	</head>
	<Body id = "Body"  class = "Loading" style="background-color : #eee;">
		<div class = "Header">
		</div>
		<div class= "Body">
		</div>
		<div class = "Footer">
		</div>
		<script data-main="{{STATIC_URL}}Javascript/main-built" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js"></script>
		 
	</Body>
</HTML>